<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>编辑学生</title>
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<div class="page-header">
  <h1>学员管理系统<small>编辑老师信息</small></h1>
</div>
<form class="form-horizontal" action="/edit_teacher/" method="post">
  <input type="text" name="teacher_id" value="{{ teacher.id }}" style="display: none">
  <div class="form-group">
    <label for="inputclassname" class="col-sm-2 control-label">学生姓名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="teacher_name" id="inputteachername" placeholder="老师姓名" value="{{ teacher.name }}">
    </div>
    <span id="helpBlock2" class="help-block">{{ error }}</span>
  </div>
  <div class="form-group">
      <label for="selectclass" class="col-sm-2 control-label">班级</label>
      <div class="col-sm-10">
        <select class="form-control" name="class_id" multiple>
          {% for class in class_list %}
            {% if class.id in teacher.class_ids %}
            <option selected value="{{ class.id }}">{{ class.name }}</option>
            {% else %}
            <option value="{{ class.id }}">{{ class.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">提交</button>
    </div>
  </div>
</form>
</div>


<script src="/static/jquery-3.2.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>