<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{#  <meta http-equiv="refresh" content="3;url=http://www.oldboyedu.com">#}
  <title>模板语言测试</title>
</head>
<body>

{{ y|safe }}
{% for i in x %}

  {{ i.age }}

{% endfor %}

<button type="button">点我</button>
<script src="/static/jquery-3.2.1.min.js"></script>
<script>
  $(document).ready(function () {
    $("button").on("click", function () {
      var data = {"items": [1, 2, 3, 4]};
      $.ajax({
        url: "/test/",
        data: {"data": data},
        type: "POST",
        success: function (data) {
          console.log(data);

        }
      })
    })
  })
</script>
</body>
</html>