<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>模板语言语法测试页面</title>
</head>
<body>

{{ value }}

{{ name|default:"sb" }}

{{ value |length }}

{% if user_list %}
  用户人数：{{ user_list|length }}
{% elif black_list %}
  黑名单数：{{ black_list|length }}
{% else %}
  没有用户
{% endif %}
{% if user_list|length > 5 %}
  七座豪华SUV
{% else %}
    黄包车
{% endif %}

<ul>
{% for user in user_list %}
    <li>{{ user.name }}</li>
{% empty %}
    <li>空空如也</li>
{% endfor %}
</ul>

<table>
  <tbody>
  {% for o in some_list %}
    <tr class="{% cycle 'row1' 'row2' %}">
        {{ o }}
    </tr>
{% endfor %}
  </tbody>
</table>

{% for foo in foo_list %}
  {{ forloop.revcounter }}
  {% for boo in foo %}
    {{ boo }}:{{ forloop.parentloop.counter0 }}
  {% endfor %}

{% endfor %}

</body>
</html>