{% load static %}

<script src="{% static "mytest.js" %}"></script>
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>
</head>
<body>
{% load app01_demo %}
{# 取l中的第一个参数 #}
{{ l.0 }}
{# 取字典中key的值 #}
{{ d.name }}
{{ d.name|addSB }}
{{ d.name|cut:"a" }}

{# simple tag #}
{% plus "1" "2" "abc" %}

{# 取对象的name属性 #}
{{ person_list.0.name }}
{# .操作只能调用不带参数的方法 #}
{{ person_list.0.dream }}

<hr>
{{ s|truncatechars:6 }}
<hr>
{{ s|truncatewords:3 }}

<hr>
{{ st }}
{{ st|safe }}
{{ STATIC_PREFIX }}
<script src="{{ STATIC_PREFIX }}mytest.js"></script>
</body>
</html>