.my-table-search {
  margin-bottom: 15px;
}

.panel-heading>div,
.panel-heading>button{
  display: inline-block;
}

.my-panel-head {
  padding: 0 15px;
}

.my-panel-head>div {
  padding: 10px 0;
}

.my-table-add {
  margin: 5px 0;
}
