<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>class_list</title>
</head>
<body>

<a href="{% url 'add_class' %}">新页面添加</a>

<table border="1">
  {% for class in class_list %}
    <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ class.id }}</td>
    <td>{{ class.cname }}</td>
    <td>{{ class.first_day|date:'Y-m-d' }}</td>
    <td>
      <a href="{% url 'delete_class' %}?class_id={{ class.id }}">删除</a>
      <a href="{% url 'edit_class' class.id %}">编辑</a>
    </td>
    </tr>
  {% endfor %}
</table>
</body>
</html>