
/*为所有的div和p标签设置边框属性*/
/*div, p {*/
  /*border: 1px solid red;*/
/*}*/

/*!*li内部的a标签设置字体颜色*!*/
/*li a {*/
  /*color: green;*/
/*}*/

/*!*选择所有父级是 <div> 元素的 <p> 元素*!*/
/*div>p {*/
  /*font-family: "Arial Black", arial-black, cursive;*/
/*}*/

/*!*选择所有紧接着<div>元素之后的<p>元素*!*/
/*div+p {*/
  /*margin: 5px;*/
/*}*/

/*i1后面所有的兄弟p标签*/
#i1~p {
  border: 2px solid royalblue;
}


/*有title属性的p标签*/
p[title] {
  color: red;
}

/*title属性等于213的p标签*/
p[title="213"] {
  color: green;
}


a:link {color: #FF0000} /* 未访问的链接 */

a:visited {color: #00FF00} /* 已访问的链接 */

a:hover {color: #FF00FF} /* 鼠标移动到链接上 */

a:active {color: #0000FF} /* 选定的链接 */

/*:before    p:before       在每个<p>元素之前插入内容     */
/*:after     p:after        在每个<p>元素之后插入内容     */

/*在每个<p>元素之前插入内容*/
p:before {
  content:"hello";
  color:red;
  display: block;
}

/*在每个<p>元素之后插入内容*/
p:after {
  content:"bye";
  color:red;
  display: block;
}
#i1 {
  border-width: 2px;
  border-style: solid;
  border-color: red;
}

#i1 {
  border: 2px solid red;
}

#i1 {
  border-top-style:dotted;
  border-right-style:solid;
  border-bottom-style:dotted;
  border-left-style:none;
}

.margin-test {
  margin-top:100px;
  margin-bottom:100px;
  margin-right:50px;
  margin-left:50px;
}
.margin-test {
  margin: 5px 10px 15px 20px;
}

.padding-test {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
}
.padding-test {
  padding: 5px 10px 15px 20px;
}

#i2 {
  z-index: 999;
}
