/*!*用于选取属性值(多个属性值或属性值以空格分隔)包含指定值的每个元素*!*/
/*div[class~="c2"] {*/
  /*color: red;*/
/*}*/
/*!*匹配属性值以指定值开头的每个元素*!*/
/*div[class^="my"] {*/
  /*color: red;*/
/*}*/
/*!*匹配属性值以指定值结尾的每个元素*!*/
/*div[class$="s"] {*/
  /*color: red;*/
/*}*/
/*!*匹配属性值以指定值结尾的每个元素*!*/
/*div[class$="s"] {*/
  /*color: red;*/
/*}*/
/*!*匹配属性值包含指定值的每个元素*!*/
/*div[class*="sb"] {*/
  /*color: red;*/
/*}*/

/*找到所有title属性值等于hello的元素*/
/*[title="hello"] {*/
  /*color: red;*/
/*}*/

/*找到所有title属性以hello开头的元素*/
[title^="hello"] {
  color: red;
}

/*找到所有title属性以hello结尾的元素*/
[title$="hello"] {
  color: yellow;
}

/*找到所有title属性中包含（字符串包含）hello的元素*/
[title*="hello"] {
  color: red;
}

/*找到所有title属性(有多个值或值以空格分割)中有一个值为hello的元素：*/
[title~="hello"] {
  color: green;
}


/* 未访问的链接 */
a:link {
  color: #FF0000
}

/* 已访问的链接 */
a:visited {
  color: #00FF00
}

/* 鼠标移动到链接上 */
a:hover {
  color: #FF00FF
}

/* 选定的链接 */
a:active {
  color: #0000FF
}

/*input输入框获取焦点时样式*/
input:focus {
  outline: none;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.p1:first-letter {
  font-size: 48px;
  color: red;
}

.p1:after {
  content:"[?]";
  color:blue;
}

.p1:before {
  content: "*";
  color: red;
}
/*font-size: 10px;*/

/*line-height: 200px;   文本行高 通俗的讲，文字高度加上文字上下的空白区域的高度 50%:基于字体大小的百分比*/

/*vertical-align:－4px  设置元素内容的垂直对齐方式 ,只对行内元素有效，对块级元素无效*/


/*text-decoration:none       text-decoration 属性用来设置或删除文本的装饰。主要是用来删除链接的下划线*/

/*font-family: 'Lucida Bright'*/

/*font-weight: lighter/bold/border/*/

/*font-style: oblique*/

/*text-indent: 150px;      首行缩进150px*/

/*letter-spacing: 10px;  字母间距*/

/*word-spacing: 20px;  单词间距*/

/*text-transform: capitalize/uppercase/lowercase ; 文本转换，用于所有字句变成大写或小写字母，或每个单词的首字母大写*/
